<div class="container text-center">
  <div class="about">
    About me?
  </div>
</div>
<div class="bg1">
  <div class="row">
    <div class="column">
        <img src={{avatar1}} class="img-circle" alt="avatar" width="300px" height="300px">
    </div>
    <div class="column">
        <h1 class="greeting">
          Hello there!
        </h1>
          <h2>
          I'm Yonatan! Born and raised in little old Hanford, California.
          </h2>
        <br>
        <h3 class="semi-text">
          I enjoy creating websites. I can make websites with HTML, CSS , JavaScript, Angular2 and Bootstrap!
          I like mess around with electronics, gaming, website designing, puzzles. In my spare time I like to play some video games on my pc or go around
          <a src="https://www.w3schools.com">w3schools</a> to learn new things.
          I'm usually online so it will won't be hard to contact me!

          </h3>
         <br>
      </div>
  </div>
</div>
