.bg1{
  background-color: rgba(128, 128, 128, 0.295);
  color: white;
  margin-top: 11em;
  padding: 1em;
}
img{
  float:left;
}
p{
  color: white;
  font-size: 23px;
  margin: 0em 5em 0em 3em;
}
.semi-text{
  color: lightgray;
  font-size: 20px;
}
#A{
  float: left;
  width: 30%;
  /* border: 2px solid blue; */
  height: 50%;
  /* margin-left: 5em; */
}
#B{
  float:right;
  font-size: 23px;
  /* border: 2px solid red; */
  width: 50%;
  height: 50%;
  margin-right: 5em;
}
.greeting{
  font-size: 30px;
  color: lightblue;
}
.btn{
  color: black;
  font-family: bold;
}

