<div class="bg1">
  <div class="container">
    <aside id="A">
        <img src={{avatar1}} class="img-circle" alt="avatar" width="250" height="auto">
    </aside>
    <aside id="B">
        <span class="greeting">
          I'm Yonatan! A website designer born and raised in little old Hanford, California.
        </span>
        <br>
        <span class="semi-text">
          I enjoy creating websites. I can make websites with HTML, CSS , JavaScript, Angular2 and Bootstrap!
          <br>
          In my spare time I like to play some video games or buzz around <a src="https://www.w3schools.com">w3schools</a>
          </span>
         <br>
      </aside>
  </div>
</div>
