<div class="bg1">
  <div class="container">
    <aside id="A">
        <img src={{avatar1}} class="img-circle" alt="avatar" width="250" height="auto">
    </aside>
    <aside id="B">
        <span class="greeting">
          Hello!
        </span>
        <br>
         I'm Yonatan born and raised in little old Hanford California. I enjoy creating and design websites. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus inventore neque tempora quasi eligendi voluptate dolores! Ipsam harum illum at consequuntur? Fuga nobis eaque ratione architecto et provident adipisci reprehenderit?

         <br>
         <button class="btn">Contacts</button>
      </aside>
  </div>
</div>
