.about{
  font-size: 40px;
  color: lightblue;
  margin-top: 3em;
}
.bg1{
  background-color: rgba(128, 128, 128, 0.295);
  color: white;
  margin: 1em;
  padding: 5em;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 20px;
}
p{
  color: white;
  font-size: 23px;
  margin: 0em 5em 0em 3em;
}
.semi-text{
  color: lightgray;
  font-size: 20px;
}
.column{
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
img{
  margin-left: 4em;
  border: 2px solid white;
  background-color: lightgray;
}
.row{
  display: table;
  clear: both;
}
.greeting{
  font-size: 30px;
  color: lightblue;
}
.btn{
  color: black;
  font-family: bold;
}

