<nav class= "navbar navbar-navbar-fixed-top">
  <div class = "container">
    <ul class="nav navbar-nav">
        <div class="navbar-brand" href="#">
            portfolio
            </div>
      <li>
        <a href="#" (click)= "navSelect ('home')">
          Home
        </a>
      </li>
      <li>
        <a href="#" (click) = "navSelect('about')">
          About
        </a>
      </li>
      <li>
        <a href= "#" (click)= "navSelect('portfolio')">
          Portfolio
        </a>
      </li>
      <li>
        <a href="#" (click)= "navSelect('contacts')">
          Contacts
        </a>
      </li>
    </ul>
  </div>
</nav>
