<nav class= "navbar navbar-nav navbar-fixed-top">
  <div class = "container-fluid">
    <ul class="nav navbar-nav">
        <a class="navbar-brand">
            <img src={{logo}} class="logo" alt="YRM-logo" width="120" height="auto">
            </a>
      <li>
        <a href="#" (click)= "navSelect ('home')">
          Home
        </a>
      </li>
      <li>
        <a href="#" (click) = "navSelect('about')">
          About Me
        </a>
      </li>
      <!-- <li>
        <a href= "#" (click)= "navSelect('portfolio')">
          Portfolio
        </a>
      </li> -->
      <li>
        <a id="contact" href="#" (click)= "navSelect('contacts')">
          Contacts
        </a>
      </li>
    </ul>
  </div>
</nav>
