.navbar-nav{
  width: 100%;
 text-align: end;
}
.navbar-brand{
  font-size: 23px;
  color: white;
  font-family: cursive, sans-serif;
}
li{
  float:none;
  display: inline-block;
}
.navbar-nav > li > a {
  font-size: 23px;
  font-family: cursive, sans-serif;
  color: white;
  margin-top: 1em;
}
