.background{
  height: 50vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.row{
  padding: none;
  margin: none;
  border: none;
  line-height: 0;
}
.container{
  margin-top: 2em;
}
.footer{
background-color: black;
width: 100%;
height: 40%;
color: white;

}
