<div class="background"
[ngStyle]="{'background-image': 'url('+ background +')'}">

<div class = "row">
  <nava (navSelected)="navigate($event)">
  </nava>
</div>
<br>
<div class = "container">
    <div class="col-md-12">
      <home *ngIf= "loadedFeature === 'home'">Home</home>

      <about *ngIf= "loadedFeature === 'about'">About</about>

      <!-- <portfolio *ngIf= "loadedFeature === 'portfolio'">Portfolio</portfolio> -->

      <contacts *ngIf= "loadedFeature === 'contacts'">Contacts</contacts>

    </div>
  </div>
  <div class="footer">
      <div class="f1">
        ©Copyright by Yonatan Ramirez
      </div>

      <div class="f2">
        <!-- Hello! -->
      </div>

      <div class="f3">
      Connect with me!

      <a href="https://www.linkedin.com/in/yonatan-ramirez-79a909160/">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/yonathan.ramirez.397">
        <i class="fab fa-facebook"></i>
      </a>
      </div>

    </div>
  </div>
